body
{
    background-color: #39B2BF;
}
article
{
   
    width: 75%;
    height: 150px;
    padding: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 30px;
}
img 
{
    border-radius: 20px;
}

.foodCards {
    display: flex; /* Use flexbox to arrange content horizontally */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.resolution 
{
    position: fixed;
    width: 820px;
    height: 1180px;
    background-color: #39b2b7;
}
 /* TOPSIDE CART */
#cart   
{
 font-size: 65px;
 font-weight: bold;
 color: white;
 justify-content: center;
 text-align: center;
 font-family:'greek';
}

.in-cart 
{
    display: flex;
    flex-direction: column;
}



.buttons 
{
    display: flex;
    position: fixed;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.cartImage {
    height: 150px;
    width: auto;
}
.left
{
    width: 175px;
    height: 50px;
    background-color: white;
    border-color: rgb(0, 0, 0);
    border-radius: 35%;
    box-shadow: 0 3px 4px 0;
    padding-bottom: 10%;
    text-align: center;
    line-height: inherit;
}

.right
{
    width: 175px;
    height: 50px;
    background-color: white;
    border-color: rgb(0, 0, 0);
    border-radius: 35%;
    box-shadow: 0 3px 4px 0;
    padding-bottom: 10%;
}

.left, .right 
{
    /* Your existing styles here */

    /* Add the foll owing to center text */
    margin: 165px;
    padding: 1px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    line-height: 50px;
}

@font-face 
{
    font-family:'greek';
    src: url('../TzaTziKi/DalekPinpointBold.ttf') format('ttf');
  }