body
{
    background-color: #39B2BF;
    
}
article
{
   
    width: 75%;
    height: 150px;
    padding: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 30px;
}
img 
{
    border-radius: 20px;
    
}

.foodCards {
    display: flex; 
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
}

a {
    color: #000000; 
    text-decoration: none; 
}

.resolution 
{
    position: fixed;
    width: 820px;
    height: 1180px;
    background-color: #39b2b7;
}
 /* TOPSIDE CART */
#cart   
{
 font-size: 85px;
 font-weight: bold;
 color: white;
 justify-content: center;
 text-align: center;
 font-family:'greekfont';
}

.buttons 
{
    display: flex;
    position: fixed;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.cartImage {
    height: 150px;
    width: auto;
}


.left, .right 
{
    margin: 125px;
    width: 195px;
    height: 80px;
    background-color: white;
    border-color: rgb(0, 0, 0);
    border-radius: 45px;
    box-shadow: 0 1px 1px 0;
    
    align-items: center;
    font-size: 30px;
    text-align: center;
    font-family:'greekfont';
}
.foodCards hr {
    display: block; 
    width: 100%; 
    margin: 10px 0; 
    border: none; 
    border-top: 1px solid #5b5555;
}
#headline
{

    padding-left:25px;
}
p
{
    padding-left:20px;
}

/* CSS FOR THE COUNTER BUTTON */
.counter{
    width: 20%;
    display: flex;
    justify-content: center;
    margin-left: 25px;
    
}
.plusbutton, .minusbutton{
    height: 25px;
    width: 25px;
    
    border-radius: 10px;
    font-size: 15px;
    background-color: #39B2BF;
    border: 1px solid #000000;
    color: white;
}
.minusbutton {
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
    text-align: center;
    justify-content: center;
    align-items: center;


}

.plusbutton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.counternumber{
    height: 25px;
    min-width: 40px;
    background-color: #39B2BF;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@font-face {
    font-family: "greekfont";
    src: url(/images/DalekPinpointBold.ttf); }