
.counter{
    width: 20%;
    display: flex;
    justify-content: center;
}
#plusbutton, #minusbutton{
    height: 25px;
    width: 25px;
    
    border-radius: 10px;
    font-size: 15px;
    background-color: #39B2BF;
    border: 1px solid #000000;
    color: white;
    margin: 0px;
}
#minusbutton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;


}

#plusbutton {
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
}


#counternumber{
    height: 25px;
    min-width: 40px;
    background-color: #24252a;
    color:white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}