:root {
    --background: #39b2b7;
    --text: white;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: var(--background);
    color: var(--text);
    font-size: 30px;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
 font-size: 200px;
}
